.about-game-title {
    color: white;
    font-size: 3rem;
    margin-bottom: 2rem;
}

.about-the-par  {
    width: 39%  ;
    height: auto;
    color: white;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    background-color: rgba(110, 100, 100, 0.507);
    border-radius: 3px;
}
.about-the-par p {
    padding: 1rem;
    max-height: 400px;
    overflow: auto;        /* Ti kses apo to game ~Moucht to Spyros~*/

}

main h1{
    padding-top: 2rem;
}


.strt-game  {
    font-size: 4rem;
}

@media screen and (max-width: 1000px) {
    .about-the-par {
        width: 80%;
    }

    .strt-game  {
        font-size: 3rem;
    }

}


@media screen and (max-width: 510px) {
 
    .strt-game  {
        font-size: 2rem;
    }

}

@media screen and (max-width: 425px) {
 
    .strt-game  {
        font-size: 1.5rem;
    }

}
@media screen and (max-width: 350px) {
 
    .strt-game  {
        margin: 0;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

}
@media screen and (max-width: 303px) {
 
    .strt-game  {
      font-size: 1rem;
    }

}


.cnt-first-room {
    width: 70%;
    background-color: white;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cnt-triangle-ans-flex{
    width:100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding-top: 1rem;
}
/*Create the pyramid triangle */

.triangle {
    position: relative;
    height: auto;
    width:50%;
    clip-path: polygon(50% 0, 20% 100%, 80% 100%);
    
}


.triangle-ans{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.triangle-ans div{
    position: relative;
    width: 50%;
    height: 50px;
    margin-top: 1rem;
    display: flex;
    align-items: center;
    flex-direction: row;
    border: black solid 1px;
}

.triangle-ans div div {
    width: 25%;
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.triangle div {
    background-color: red;
    width: 100%;
    height: 50px;
    margin-top: 1rem;
    color: white;
    line-height: 50px;
    text-align: center;
    font-size: 0.8em;
}

.arrow-triangle-flex{
    width: 250px;
    height: 100px;
    position: absolute;
    overflow: hidden;
    margin-right: 2rem;
}

.trans-btn {
    margin-top: 20px;
}

.game-images { 
    margin-top: 1rem;
    width: 90%;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px solid #000000;
}

.game-images div{
    width: 25%;
    height: 90%;
    border: 1px solid #000000;

}

.draggable-img{
    max-width: 90px;
    max-height: 90px;  
    z-index: 1000000;
    opacity: 1 !important;
    object-fit: contain;

}

  /* First Room V2 */
  .first-room-v2-cnt{
      width: 50%;
      height: 100%;
      background-color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
  }

  .triangle-ct-v2{
      width: 100%;
      max-height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 1rem;
      position: relative;
  }

  .triangle-v2{
      width: 100%;
      height: 90%;
      clip-path: polygon(50% 0%, 80% 100%, 20% 100%);
      display: flex;
      justify-content: center;
      flex-direction: column;
  }

  .triangle-layers{
      width: 100%;
      height: 80px;
      background: rgb(212, 207, 207);
      margin: 3px;
      display: flex;
      justify-content: center;
      align-items: center;
  }

  .droppable{
      width: 50px;
      height: 50px;
      border: 3px solid black;
  }

  .d-marg02rem{
      margin: 0.2rem;
  }

  .d-marg05rem{
    margin:0.5rem
  }

  .d-marg1rem{
    margin: 1rem;
  }

  .ans-ct-v2{
    width: 100%;
    height: 35%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .food-img-ct{
      width: 15%;
      height: 25%;
      background: white;
      border: 3px solid black;
      margin: 10px;
      z-index: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
  }

  .food-img-ct img{
    width: 50px;
    height: 50px;
    z-index: 30;
  }

@media screen and (max-width:1024px){
    .first-room-v2-cnt{
        width: 100%;
    }
}

  /* Third room flip images */

  .flip-box {   
    margin: 1rem;
    background-color: transparent;
    width: 300px;
    height: 200px;
    perspective: 1000px;
    
  }
  
  .flip-box-inner {
    position: relative;
    width: 100%;
    height: auto;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  .flip-box:hover .flip-box-inner {
    transform: rotateY(180deg);
  }
  
  .flip-box-front, .flip-box-back {
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-box-front {
    background-color: #bbb;
    color: black;
  }
  
  .flip-box-back {
    background-color: #555;
    color: white;
    height: 200px;
    transform: rotateY(180deg);
  }

  /* Flip Card Game */

  .memory-game {
    width: 540px;
    height: 380px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;
  }
  
  .memory-card {
    width: calc(25% - 10px);
    height: calc(33.333% - 10px);
    margin: 5px;
    position: relative;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
    box-shadow: 1px 1px 1px rgba(0,0,0,.3);
  }
  
  .memory-card:active {
    transform: scale(0.97);
    transition: transform .2s;
  }
  
  .memory-card.flip {
    transform: rotateY(180deg);
  }
  
  .front-face,
  .back-face {
    width: 100%;
    height: 100%;
    padding: 20px;
    position: absolute;
    border-radius: 5px;
    background: #1C7CCC;
    backface-visibility: hidden;
  }
  
  .front-face {
    transform: rotateY(180deg);
  }

  /* Drag And Drop */
  @import url('https://fonts.googleapis.com/css?family=Montserrat');



.draggable-elements {
  display: flex;
  justify-content: center;
  margin: 2rem;
}
.draggable {
  height: 5rem;
  width: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
  margin: 0rem 0.5rem;
  cursor: move;
  transition: opacity 0.2s;
  opacity: 1 !important;
}
.draggable:hover {
  opacity: 0.5 !important;
}
.droppable {
  height: 2.5rem;
  width: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  font-size: 4rem;
  font-weight: bold;
  background-color: #fff;
  border: 3px dashed #111;
  transition: border-width 0.2s, transform 0.2s, background-color 0.4s;
}
.droppable span {
  font-size: 1.25rem;
  pointer-events: none; /* The element is never the target of pointer events */
}

/* Drag and Drop Related Styling */

.droppable.droppable-hover {
  /* background-color: #bee3f0; */
  border-width: 5px;
  transform: scale(1.1);
}
.droppable.dropped {
  border-style: solid;
  background-color: rgb(0, 255, 0) !important;
}
.droppable.dropped span {
  font-size: 0.75rem;
  margin-top: 0.5rem;
}
.droppable.dropped img {
    height: 3rem;
    width: 3rem;
    pointer-events: none;
    opacity: 1;
    z-index: 10 !important;
    position: relative;
    
  }
.draggable.dragged {
  user-select: none;
  opacity: 0.1 !important;
  cursor: default;
}
.draggable.dragged:hover {
  opacity: 0.1;
}

@media (max-width: 600px) {
  html { font-size: 14px; }
  .draggable-elements { margin: 1.5rem; }
}

.test{
    position: absolute;
    width: 100vw;
    height: 50%;
    bottom: -50%;
}

.test img{
    width: 100%;
    height: 100%;
}

/* Center Top "Meat" Droppable */
.top-bugfix{
  margin-top: 1rem;
  margin-right: 0.2rem;
}

.triangle-titles1{
  position: absolute;
  background-color: red;
  left: 1rem;
  top: 2rem;
}

.triangle-titles2{
  position: absolute;
  background-color: orange;
  left: 1rem;
  top: 45%;
}

.triangle-titles3{
  position: absolute;
  background-color: rgb(2, 238, 2);
  left: 1rem;
  bottom: 3rem;
}

